<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.snake.salarycounter">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <application
        android:name=".CustomApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="false"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="AA_DB_NAME"
            android:value="salary.db" />
        <meta-data
            android:name="AA_DB_VERSION"
            android:value="1" />
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="22f2022038253dd2c7f492c264c6a664a72710e8" />

        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.Launcher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".activities.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.CustomPinActivity"
            android:label="@string/title_activity_locked_scrolling"
            android:parentActivityName=".activities.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.snake.salarycounter.activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.CalendarActivity"
            android:label="@string/title_activity_calendar"
            android:parentActivityName=".activities.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.snake.salarycounter.activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.ShiftType.ListShiftTypeActivity"
            android:label="@string/title_activity_shift_type"
            android:parentActivityName=".activities.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.snake.salarycounter.activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.ShiftType.ShowShiftTypeActivity"
            android:label="@string/title_activity_show_shift_type"
            android:parentActivityName=".activities.ShiftType.ListShiftTypeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.ShiftType.ListShiftTypeActivity" />
        </activity>
    </application>

</manifest>
